@charset "utf-8";


section.imagem{

    width: 94%; /* auto ajusta a imagem */

    



}

section.imagem#img01 {

    
background-size: 70%;
padding-left: 0px;
border-radius: 20%;

}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
  }
