@charset "utf-8";


:root {

    font-family:  Helvetica, Arial,sans-serif;

    margin: auto;
    min-width: 320px;
    max-width: 420px;

}



html, body {

min-height: 100%vh;
background-color: rgb(255, 255, 255);

margin: auto;


}

header {

    background-color: rgba(24, 90, 17, 0.74);
    color: aliceblue;
    text-align: center;
    margin: auto;
    
  

}

header  h1 {

padding-top: 20px;

}

header > p {

    padding-bottom: 20px;
    color: aqua; 
   
    

    
}

header a, footer a {

    color: aliceblue;
    text-decoration: none;
}

header a:hover, footer a:hover {

color: aliceblue;

font-weight: bolder;


}


header ul {
list-style: none;
padding-left: 0px;
padding-bottom: 2px;
display: flex;
flex-direction: row;
text-decoration: none;


}


header li {

    padding: 0px 5px;
    
    
    }




li:hover {
    opacity: 0,8;
    background-color: rgba(105, 105, 105, 0.418);
}




section {

padding-top: 10vh;
padding-bottom: 10vh;
padding-left: 10px;
line-height: 2em;

}




section.normal {

background-color: rgb(255, 255, 255);

}

section.imagem{

    width: 94%; /* auto ajusta a imagem */

    


  color: rgb(255, 254, 254);
background-color: rgb(168, 168, 168); 
box-shadow: inset 6px 6px 13px 6px rgb(100, 99, 99);
background-attachment: fixed;
}

section.imagem#img01 {

    background-image: url(img/logo.png);
background-size: 70%;
padding-left: 20px;
border-radius: 20%;

}

section#img02 {

background-image: url(img/logo.png);
border-radius: 20%;

/* background-size: cover; */

}

section#img03 {

    background-image: url(img/logo.png);
    border-radius: 30%;
    width: 90%;
    height: 45%;
    /* background-size: cover; */
    
    }

section.imagem > p {
    background-color: rgba(8, 8, 8, 0.315);
     display: inline-block;
     padding: 20px;
     text-shadow: rgba(3, 3, 3, 0.164);
     color: rgb(39, 241, 12);
}


section.imagem > h2 {
    background-color: rgba(2, 2, 2, 0.514);
     display: inline-block;
     padding: 20px;
     text-shadow: rgba(3, 3, 3, 0.164);
}


h2 {
    text-align: center;
}




p#textobase{

    text-align: justify;
    text-indent: 15px;
}

footer {
    background-color: rgb(24, 90, 17, 0.74);
    color: rgb(241, 241, 241);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;
    min-width: 320px;
    max-width: 100%;
}